#header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

#header div {
    font-family: "Antonio", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 74.65px;
    letter-spacing: -0.03em;
    margin-left: 30px;
}

#add {
    width: 39.96px;
    height: 55px;
    border-radius: 3px;
    margin-bottom: 19px;
    margin-left: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 200;
    font-size: 74.65px;
    line-height: 32px;
    padding: 0;
    color: white;
    background-color: black;
    border: none;
}

.library-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    overflow: hidden;
}

.card {
    margin-left: 35px;
    height: 216px;
    width: 332px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-left: 3px #B0B0B0 solid;
}
.card > * {
    margin-left: 20px;
}
.card .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 37px;
}

.card .author {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 22px;
    margin-top: 10px;

}

.card .pages {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 200;
    font-size: 14.466px;
    line-height: 13px;
    margin-top: 5px;
}

.card .id-code {
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    margin-top: 15px;

}

.card .notes {
    margin-top: 20px;
}
.card .notes span {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 100;
    font-size: 17.36px;
}

.card .notes .content-notes {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 200;
    font-size: 14.46px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 290px;
    line-height: 1.1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 30, 7, 0);
    padding-top: 145px;
    padding-left: 30px;
}

.modal.active {
    display: block;
  
  }

#form-container {
    background-color: white;
}

#modal-form {
    background-color: white;
    padding-top: 15px;
    padding-left: 20px;
}

#modal-form * {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 100;
    font-size: 17.36px;
    line-height: 26px;
    letter-spacing: 0.1em;
}



#modal-form div {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    border-bottom: solid black 2px;
    width: 300px;
}

.input-container:first-child {
    width: 553px;
}

.input-container:nth-child(2) {
    width: 553px;
}
.input-container:nth-child(3) {
    width: 140px;
}

.input-container:nth-child(4) {
    width: 140px;
}

#is-read {
    width: 50px;
}
.notes-modal {
    display: flex;
    flex-direction: column;
    border-bottom: solid black 2px;
    width: 300px;
    height: 71px;
}

.notes-modal #note-input {
    border: none;
    resize: none;
    outline: none;
}
#pages-input {
    width: 50px;
}

.input-container input {
    width: 150px;
    height: 28px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-container {
    position: fixed;
    left: 533px;
    top: 350px;
}
#submit {
    height: 40px;
    width: 80px;
    background-color: white;
    border: solid black 2px;
    border-radius: 3px;
}

#delete {
    height: 40px;
    width: 60px;
    background-color: black;
    border-radius: 3px;
    color: white;
}

.read {
    border-left: #53F1C9 6px solid;
}



#modal-form {
    border: black solid 2px;
    width: 664px;
    height: 285px;
    
}

#add.modal-show {
    background-color: white;
    border: black solid 2px;
    color: black;
}

.input-container .custom-checkbox #is-read {
    display: none;
  }

.custom-checkbox span {
display: inline-block;
width: 14px;
height: 14px;
border: 2px solid black;
border-radius: 4px;
margin-left: 40px;
margin-right: 5px;
}

.custom-checkbox input:checked + span {
    background-color: #53F1C9;
  }

#id-modal {
font-family: 'Libre Barcode 128 Text';
font-style: normal;
font-weight: 400;
}

#note-input {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 200;
    font-size: 12.05px;
    line-height: 15px;
    letter-spacing: 0.1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#modal-form .input-container input {
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 200;
font-size: 19px;
line-height: 28px;
/* identical to box height, or 161% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
}
  